{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
	{# see `base.twig:27` for where this block's content will be inserted #}


	{% if posts is not empty %}
		<h3 class="mb-3 text-center">Search results for:
			<span class="badge badge-warning">
				{{ query }}
			</span>
		</h3>

		{% for post in posts %}
			{{ include('partial/news-teaser.twig') }}
		{% endfor %}
		{{ include('partial/pagination.twig') }}

	{% else %}
		<h3 class="mb-3 text-center">No search results for:
			<span class="badge badge-warning">
				{{ query }}
			</span>
		</h3>
	{% endif %}

	{% for post in posts %}
		{{ include('partial/news-teaser.twig') }}
	{% endfor %}
	{{ include('partial/pagination.twig') }}

{% endblock %}
